<footer class="py-6 md:px-8 md:py-0">
  <div
    class="text-sm leading-loose text-muted-foreground container flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row"
  >
    <p class="text-center md:text-left">
      The source code is available on
      <a
        href="https://github.com/rhombusgg/rhombus-rs"
        target="_blank"
        class="font-medium underline"
        >GitHub</a
      >.
    </p>
    <div class="text-center flex flex-col md:text-right">
      <pre class="font-mono" id="reset-countdown">&nbsp;</pre>
      <span id="reset-time">&nbsp;</span>
      <div>The demo instance resets every 10 minutes</div>
    </div>
  </div>
  <script>
    function getNextInterval() {
      const now = new Date();
      const minutes = now.getMinutes();
      const next10MinuteIntervalMinutes = Math.ceil((minutes + 1) / 10) * 10;

      const nextInterval = new Date(now);
      nextInterval.setMinutes(next10MinuteIntervalMinutes);
      nextInterval.setSeconds(0);
      nextInterval.setMilliseconds(0);

      return nextInterval;
    }

    document.getElementById("reset-time").textContent =
      getNextInterval().toLocaleTimeString();

    function updateCountdown() {
      const now = new Date();
      const next10MinuteInterval = getNextInterval();
      const diff = next10MinuteInterval - now;

      const minutes = Math.floor(diff / 60000);
      let seconds = Math.floor((diff % 60000) / 1000);
      if (seconds < 10) {
        seconds = ` ${seconds}`;
      }

      document.getElementById("reset-countdown").textContent =
        `${minutes}m ${seconds}s`;

      if (diff <= 1000) {
        setTimeout(() => {
          location.reload();
        }, 2000);
      }
    }

    updateCountdown();
    setInterval(updateCountdown, 1000);
  </script>
</footer>
