<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <div
    style="display:none;overflow:hidden;line-height:1px;opacity:0;max-height:0;max-width:0"
  >
    Verify Email for {{ title }}
  </div>
  <body
    style='margin-left:auto;margin-right:auto;margin-top:auto;margin-bottom:auto;background-color:rgb(255,255,255);font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'
  >
    <table
      align="center"
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="max-width:37.5em;margin-left:auto;margin-right:auto;margin-top:40px;margin-bottom:40px;width:465px;border-radius:0.25rem;border-width:1px;border-style:solid;border-color:rgb(234,234,234);padding:20px"
    >
      <tbody>
        <tr style="width:100%">
          <td>
            <table
              align="center"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
              style="margin-top:32px"
            >
              <tbody>
                <tr>
                  <td>
                    <img
                      src="{{ logo | safe }}"
                      style="display:block;outline:none;border:none;text-decoration:none;margin-left:auto;margin-right:auto;margin-top:0px;margin-bottom:0px"
                      height="64"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
            <h1
              class=""
              style="margin-left:0px;margin-right:0px;margin-top:30px;margin-bottom:30px;padding:0px;text-align:center;font-size:24px;font-weight:400;color:rgb(0,0,0)"
            >
              Verify Email for <strong>{{ title }}</strong>
            </h1>
            <p
              style="font-size:14px;line-height:24px;margin:16px 0;color:rgb(0,0,0)"
            >
              Hello mbund,
            </p>
            <p
              style="font-size:14px;line-height:24px;margin:16px 0;color:rgb(0,0,0)"
            >
              To verify this email (<a
                href="mailto:{{ email }}"
                style="color:#067df7;text-decoration:none"
                target="_blank"
                >{{ email }}</a
              >) for {{ title }}, click the button below.
            </p>
            <table
              align="center"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
              style="margin-bottom:32px;margin-top:32px;text-align:center"
            >
              <tbody>
                <tr>
                  <td>
                    <a
                      href="{{ verify_url }}"
                      style="border-radius:0.25rem;background-color:rgb(0,0,0);padding-left:1.25rem;padding-right:1.25rem;padding-top:0.75rem;padding-bottom:0.75rem;text-align:center;font-size:12px;font-weight:600;color:rgb(255,255,255);text-decoration-line:none;line-height:100%;text-decoration:none;display:inline-block;max-width:100%;padding:12px 20px 12px 20px"
                      target="_blank"
                      ><span
                        style="max-width:100%;display:inline-block;line-height:120%;mso-padding-alt:0px;mso-text-raise:9px"
                        >Verify Email</span
                      ></a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
            <p
              style="font-size:14px;line-height:24px;margin:16px 0;color:rgb(0,0,0)"
            >
              Or, copy and paste this URL into your browser:
              <a
                href="{{ verify_url }}"
                style="color:rgb(37,99,235);text-decoration:none;word-break:break-all;text-decoration-line:none"
                target="_blank"
                >{{ verify_url }}</a
              >
            </p>
            <hr
              style="width:100%;border:none;border-top:1px solid #eaeaea;margin-left:0px;margin-right:0px;margin-top:26px;margin-bottom:26px;border-width:1px;border-style:solid;border-color:rgb(234,234,234)"
            />
            <p
              style="font-size:12px;line-height:24px;margin:16px 0;color:rgb(102,102,102)"
            >
              {% if ip %}
                This verification request came from
                <span style="color:rgb(0,0,0)">{{ ip }}</span>
                {%- if geo -%}
                  located in {{ geo.city }}, {{ geo.region }}
                  {{ geo.postal }},
                  {{ geo.country_name }}
                {%- endif -%}.
              {% endif %}
              If you were not expecting this verification request, you can
              safely ignore this email. If you are concerned about your
              account&#x27;s safety, contact an admin or email us at
              <a
                href="mailto:{{ contact_email }}"
                style="color:#067df7;text-decoration:none"
                target="_blank"
                >{{ contact_email }}</a
              >.
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
