{% import "icons.html" as icons %}

<div id="divisions" {% if oob %}hx-swap-oob="true"{% endif %}>
  <table class="w-full text-left table-fixed">
    <tr>
      <th class="w-2/3">Division Name</th>
      <th>Points</th>
      <th>Rank</th>
      <th class="flex justify-center">Joined</th>
    </tr>
    {% for division in divisions %}
      <tr class="*:p-2">
        <td class="flex items-center">
          {{ division.name }}
          <div title="{{ division.description }}">
            {{ icons.info(class="h-4 ml-2") }}
          </div>
        </td>
        {% if division.id == division_id %}
          {% if standing %}
            <td>{{ standing.points }}</td>
            <td>{{ standing.rank }}</td>
          {% else %}
            <td>0</td>
            <td>N/A</td>
          {% endif %}
        {% else %}
          <td></td>
          <td></td>
        {% endif %}
        <td class="flex justify-center">
          <!-- prettier-ignore-start -->
        <input
          type="radio"
          name="join"
          class="size-4 accent-primary"

          {% if user.is_team_owner %}
          hx-post="/team/division/{{ division.id }}"
          {% else %}
          disabled
          {% endif %}

          {% if division.joined %}
          checked
          {% elif not division.eligible %}
          disabled
          {% endif %}

          {% if minutes_until_division_change > 0 %}
            disabled
          {% endif %}

          {% if not division.eligible %}
          title="
          {%- if division.max_players.Limited and team.users | length > division.max_players.Limited -%}
            Too many players in your team.
          {%- endif -%}
          {%- if not division.eligible -%}
            {{ division.requirement }}
          {%- endif -%}"
          {% else %}
          title="Eligible for division.
          {%- if minutes_until_division_change > 0 %}
            Your team must wait {{ minutes_until_division_change }} minute{% if minutes_until_division_change != 1 %}s{% endif %} before changing divisions again.
          {%- endif -%}"
          {% endif %}
        >
        <!-- prettier-ignore-end -->
        </td>
      </tr>
    {% endfor %}
  </table>

  {% if user.is_team_owner and minutes_until_division_change and minutes_until_division_change > 0 %}
    <div class="mt-2 text-sm text-muted-foreground">
      Your team must wait {{ minutes_until_division_change }}
      minute{% if minutes_until_division_change != 1 %}s{% endif %} before
      changing divisions again.
    </div>
  {% endif %}
</div>
