{% extends "layout.html" %}
{% import "card.html" as card %}
{% import "icons.html" as icons %}

{% block content %}
  <div class="container my-4">
    <div class="mb-4 space-y-0.5">
      <h2 class="text-2xl font-bold tracking-tight">{{ t("account") }}</h2>
      <p class="text-muted-foreground">
        {% with link_start="<a hx-boost='true' hx-select='#screen' hx-target='#screen' hx-swap='outerHTML' href='/user/{}' class='underline'>" | replace("{}", user.id) %}
          {{ t("account-description", link_start=link_start, link_end="</a>") | safe }}
        {% endwith %}
      </p>
    </div>
    <div class="grid gap-6 lg:grid-cols-2">
      <div class="flex flex-col gap-6">
        {% if discord %}
          {% call card.root() %}
            {% call card.header() %}
              {% call card.title() %}
                {{ t("account-discord-integration") }}
              {% endcall %}
              {% call card.description() %}
                {{ t("account-discord-integration-description") }}
              {% endcall %}
            {% endcall %}
            {% call card.content() %}
              <div class="ml-[18px] mt-1 border-l pl-8">
                <h3
                  class="flex items-center text-xl font-semibold tracking-tight"
                >
                  <div
                    class="{% if user.discord_id %}
                      bg-green-300 dark:bg-green-500
                    {% else %}
                      bg-border
                    {% endif %} absolute ml-[-50px] inline-flex size-9 items-center justify-center rounded-full border-4"
                  >
                    {% if user.discord_id %}
                      {{ icons.check(class="size-4") }}
                    {% else %}
                      {{ icons.ellipsis(class="size-4") }}
                    {% endif %}
                  </div>
                  {% if user.discord_id %}
                    {{ t("account-discord-integration-link-discord") }}
                  {% else %}
                    <a class="flex items-center gap-2" href="/signin/discord">
                      <span
                        >{{ t("account-discord-integration-link-discord") }}</span
                      >
                      {{ icons.external_link(class="size-6") }}
                    </a>
                  {% endif %}
                </h3>
                <p class="mt-2">
                  {{ t("account-discord-integration-link-discord-description") }}
                </p>

                <h3
                  class="mt-8 flex items-center text-xl font-semibold tracking-tight"
                >
                  <div
                    class="{% if discord.in_server %}
                      bg-green-300 dark:bg-green-500
                    {% else %}
                      bg-border
                    {% endif %} absolute ml-[-50px] inline-flex size-9 items-center justify-center rounded-full border-4"
                  >
                    {% if discord.in_server %}
                      {{ icons.check(class="size-4") }}
                    {% else %}
                      {{ icons.ellipsis(class="size-4") }}
                    {% endif %}
                  </div>

                  {% if discord.in_server %}
                    {{ t("account-discord-integration-join-server") }}
                  {% else %}
                    <a
                      class="flex items-center gap-2"
                      href="{{ discord.invite_url }}"
                      target="_blank"
                    >
                      <span
                        >{{ t("account-discord-integration-join-server") }}</span
                      >
                      {{ icons.external_link(class="size-6") }}
                    </a>
                  {% endif %}
                </h3>
                <p class="mt-2">
                  {{ t("account-discord-integration-join-server-description") }}
                </p>
              </div>
            {% endcall %}
          {% endcall %}
        {% endif %}

        {% call card.root() %}
          {% call card.header() %}
            {% call card.title() %}
              Emails
            {% endcall %}
            {% call card.description() %}
              Manage connected emails to qualify for certain divisions
            {% endcall %}
          {% endcall %}
          {% call card.content() %}
            {% include "account/account-emails.html" %}
            <form
              class="flex gap-2"
              hx-post="/account/email"
              hx-indicator="#loader"
              hx-swap="none"
              hx-on::after-request="if(event.detail.successful) this.reset()"
            >
              <div class="relative flex grow items-center justify-end">
                <input
                  type="email"
                  required
                  name="email"
                  placeholder="New email to verify..."
                  class="bg-background w-full rounded-md border p-2 focus-visible:outline-none"
                />
                <div id="loader" class="pointer-events-none absolute mr-2">
                  {{ icons.spinner(attrs='class="animate-spin"') }}
                </div>
              </div>
              <button
                type="submit"
                class="border-input bg-background hover:bg-accent hover:text-accent-foreground ring-offset-background focus-visible:ring-ring inline-flex h-10 items-center justify-center whitespace-nowrap rounded-md border px-4 py-2 text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
              >
                Verify Email
              </button>
            </form>
          {% endcall %}
        {% endcall %}

        {% call card.root() %}
          {% call card.header() %}
            {% call card.title() %}
              Settings
            {% endcall %}
            {% call card.description() %}
              Change settings about your account
            {% endcall %}
          {% endcall %}
          {% call card.content() %}
            <h4 class="text-sm">Change name</h4>
            <p class="text-muted-foreground mb-2 text-sm">
              Must be between 3 and 30 characters. May only be changed every 30
              minutes.
            </p>
            <input
              type="text"
              name="name"
              value="{{ user.name }}"
              class="bg-background w-full rounded-md border p-2 focus-visible:outline-none"
              hx-post="/account/name"
              hx-target="next"
            />
            <div></div>
          {% endcall %}
        {% endcall %}
        {% call card.root() %}
          {% call card.header() %}
            {% call card.title() %}
              API Token
            {% endcall %}
            {% call card.description() %}
              Use this to authenticate in <a href="https://crates.io/crates/rhombus-cli">rhombus-cli</a>
            {% endcall %}
          {% endcall %}
          {% call card.content() %}
            <div class="mb-4 flex gap-2">
              {% include "account/api-token.html" %}
              <button
                class="border-input bg-background hover:bg-accent hover:text-accent-foreground ring-offset-background focus-visible:ring-ring inline-flex items-center justify-center whitespace-nowrap rounded-md border px-4 py-2 text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
                onclick="copyInviteTokenToClipboard()"
                title="Copy invite token to clipboard"
              >
                {{ icons.copy() }}
              </button>
              <button
                hx-post="/account/roll-token"
                hx-target="#api-token"
                hx-swap="outerHTML"
                class="border-input bg-background hover:bg-accent hover:text-accent-foreground ring-offset-background focus-visible:ring-ring inline-flex items-center justify-center whitespace-nowrap rounded-md border px-4 py-2 text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
                title="Roll a new API token"
              >
                {{ icons.roll() }}
              </button>
              <script>
                function copyInviteTokenToClipboard() {
                  navigator.clipboard
                    .writeText(document.querySelector("#api-token").value)
                    .then(
                      () => {
                        rhombus.toast.success(
                          "Copied API token to clipboard",
                        );
                      },
                      () => {
                        rhombus.toast.error(
                          "Failed to copy API token to clipboard",
                        );
                      },
                    );
                }
              </script>
            </div>
            {% endcall %}
          {% endcall %}
        {% include "account/account-cards.html" %}
      </div>
      <div>
        {% call card.root() %}
          {% call card.header() %}
            {% call card.title() %}
              Solves
            {% endcall %}
            {% call card.description() %}
              Challenges you have solved
            {% endcall %}
          {% endcall %}
          {% call card.content() %}
            {% if team.solves | length > 0 %}
              <ol class="flex flex-col gap-2">
                {% for challenge_id, solve in team.solves | dictsort(by="value", reverse=true) %}
                  {% if solve.user_id == user.id %}
                    {% with challenge=challenges[challenge_id], solver=team.users[solve.user_id], category=categories[challenge.category_id] %}
                      <li class="flex h-8 items-center">
                        <a
                          hx-select="#screen"
                          hx-target="#screen"
                          hx-swap="outerHTML"
                          href="/challenges#{{ challenge.name }}"
                          class="font-bold"
                        >
                          <span style="color: {{ category.color }}"
                            >{{ category.name }} /
                          </span>
                          {{ challenge.name }}
                        </a>
                        <span class="text-muted-foreground">
                          &nbsp;/ {{ challenge.points }} points /
                          <span title="{{ solve.solved_at }}">
                            {% with diff=timediff(solve.solved_at, now) %}
                              {{ t("time-difference", years=diff.years, days=diff.days, hours=diff.hours, minutes=diff.minutes, seconds=diff.seconds) }}
                            {%- endwith -%}
                          </span>
                        </span>
                      </li>
                    {% endwith %}
                  {% endif %}
                {% endfor %}
              </ol>
            {% else %}
              <p>You have no solves yet.</p>
            {% endif %}
          {% endcall %}
        {% endcall %}
      </div>
    </div>
  </div>
{% endblock %}
