{% extends "layout.html" %}

{% block content %}
  <div class="flex w-full grow flex-col items-center justify-center gap-y-6">
    <div>
      The discord account you tried to link is already linked to another
      account. Do you want to sign out, and sign back in with the discord
      account?
    </div>
    <a
      href="/signout"
      class="border-input bg-background hover:bg-accent hover:text-accent-foreground ring-offset-background focus-visible:ring-ring inline-flex h-10 items-center justify-center rounded-md border px-4 py-2 text-sm font-medium whitespace-nowrap transition-colors focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50"
      >Sign out</a
    >
  </div>
{% endblock %}
