{% extends "layout.html" %}

{% block content %}
  <div class="flex w-full grow flex-col items-center justify-center gap-y-6">
    <div>
      Are you sure you want to verify
      <span class="font-bold">{{ email }}</span>?
    </div>
    <a
      href="/account/verify/confirm?code={{ code }}"
      class="border-input bg-background hover:bg-accent hover:text-accent-foreground ring-offset-background focus-visible:ring-ring inline-flex h-10 items-center justify-center whitespace-nowrap rounded-md border px-4 py-2 text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
      >Verify email</a
    >
  </div>
{% endblock %}
