{% extends "layout.html" %}
{% import "card.html" as card %}

{% block title %}{{ super() }} - Account{% endblock %}

{% block content %}
  <h1>Account</h1>
  {% call card.root() %}
    {% import "card.html" as card %}
    {% call card.header() %}
      {% import "card.html" as card %}
      {% call card.title() %}
        hi
      {% endcall %}
      {% call card.description() %}
        hi
      {% endcall %}
    {% endcall %}
    {% call card.content() %}
      hi
    {% endcall %}
  {% endcall %}
{% endblock %}
