<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Rhombus{% endblock %}</title>
    <meta
      property="og:title"
      content="{% block og_title %}Rhombus{% endblock %}"
    />
    <!-- prettier-ignore -->
    <meta property="og:description" content="{% block og_description %}Next generation extendable CTF framework with batteries included{% endblock %}" />
    <meta
      property="og:url"
      content="{% block og_url %}{{ location_url | safe }}{{ uri | safe }}{% endblock %}"
    />

    {% if og_image %}
      <meta property="og:image" content="{{ og_image | safe }}" />
    {% endif %}
    <meta name="twitter:card" content="summary_large_image" />

    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script
      src="https://unpkg.com/monaco-editor@0.48.0/min/vs/loader.js"
      defer
    ></script>
    <script src="https://unpkg.com/echarts@5.5.0/dist/echarts.common.min.js"></script>

    <link rel="stylesheet" href="/static/tailwind.css" />
    <script src="/static/app.js"></script>
    <script>
      document.addEventListener("htmx:beforeOnLoad", (e) => {
        if (e.detail.requestConfig.headers["HX-Boosted"]) {
          if (window.deregister) {
            window.deregister();
            window.deregister = undefined;
          }
        }
      });
      window.onunload = function () {};
      window.addEventListener("popstate", (e) => {
        if (window.deregister) {
          window.deregister();
          window.deregister = undefined;
        }
      });
    </script>
    {% block head %}{% endblock %}

    <script>
      // Dark/light mode theme switcher

      const getThemePreference = () => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("rhombus-theme")
        ) {
          return localStorage.getItem("rhombus-theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";
      };
      const setTheme = (isDark) => {
        document.documentElement.classList[isDark ? "add" : "remove"]("dark");
      };

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          setTheme(event.matches);
        });

      setTheme(getThemePreference() === "dark");

      if (typeof localStorage !== "undefined") {
        const observer = new MutationObserver(() => {
          const isDark = document.documentElement.classList.contains("dark");
          localStorage.setItem("rhombus-theme", isDark ? "dark" : "light");
        });
        observer.observe(document.documentElement, {
          attributes: true,
          attributeFilter: ["class"],
        });
      }
    </script>
  </head>

  <body>
    {% block body %}{% endblock %}
    <div id="toaster"></div>
    <div id="htmx-toaster"></div>
    <script>
      window.addEventListener("htmx:oobAfterSwap", (e) => {
        if (e.detail.elt.id === "htmx-toaster") {
          if (e.detail.elt.dataset.toast === "success") {
            rhombus.toast.success(e.detail.elt.innerHTML);
          } else if (e.detail.elt.dataset.toast === "error") {
            rhombus.toast.error(e.detail.elt.innerHTML);
          }
        }
      });
    </script>
  </body>
</html>
