{% macro root() %}
  <div class="rounded-lg border bg-card text-card-foreground shadow-sm">
    {{ caller() }}
  </div>
{% endmacro %}

{% macro header() %}
  <div class="flex flex-col space-y-1.5 p-6">{{ caller() }}</div>
{% endmacro %}

{% macro title(class="") %}
  <div class="text-lg font-semibold leading-none tracking-tight {{ class }}">
    {{ caller() }}
  </div>
{% endmacro %}

{% macro description() %}
  <div class="text-sm text-muted-foreground">{{ caller() }}</div>
{% endmacro %}

{% macro content() %}
  <div class="p-6 pt-0">{{ caller() }}</div>
{% endmacro %}
