{% macro root() %}
  <div class="bg-card text-card-foreground rounded-lg border shadow-sm">
    {{ caller() }}
  </div>
{% endmacro %}

{% macro header() %}
  <div class="flex flex-col space-y-1.5 p-6">{{ caller() }}</div>
{% endmacro %}

{% macro title(class="") %}
  <div class="{{ class }} text-lg leading-none font-semibold tracking-tight">
    {{ caller() }}
  </div>
{% endmacro %}

{% macro description() %}
  <div class="text-muted-foreground text-sm">{{ caller() }}</div>
{% endmacro %}

{% macro content() %}
  <div class="p-6 pt-0">{{ caller() }}</div>
{% endmacro %}
