{% import "icons.html" as icons %}
{% extends "layout.html" %}

{% block title %}{{ super() }} - {{ t("challenges") }}{% endblock %}

{% block content %}
  <div
    class="mt-4 px-4 gap-4 grid"
    style="grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));"
  >
    {% for category in categories %}
      <div>
        <div
          class="flex justify-between rounded-md p-4 font-bold"
          style="background-color: {{ category.color }}"
        >
          <span>{{ category.name }}</span>
          <span>
            {% with challenges_in_category=challenges | selectattr("category_id", "==", category.id) %}
              {{ challenges_in_category | selectattr("id", "in", team.solves) | length }}
              / {{ challenges_in_category | length }}
            {%- endwith -%}
          </span>
        </div>
        <ul class="flex flex-col gap-2 p-2">
          {% for challenge in challenges %}
            {% if category.id == challenge.category_id %}
              <li
                class="border-l-4 bg-card p-4"
                style="border-color: {{ category.color }}"
              >
                <div class="mb-2 flex justify-between">
                  <div class="font-bold">
                    <span style="color: {{ category.color }}"
                      >{{ category.name }} /
                    </span>
                    <span>{{ challenge.name }}</span>
                  </div>
                  <div class="flex items-center gap-4">
                    <span
                      >{{ t("solves-points", solves=challenge.solves, points=challenge.points) }}</span
                    >
                    <a href="">
                      {% if challenge.healthy %}
                        <div class="size-3 rounded-full bg-green-500"></div>
                      {% else %}
                        <div class="size-3 rounded-full bg-red-500"></div>
                      {% endif %}
                    </a>
                    {% with solve=team.solves[challenge.id] %}
                      {% if solve %}
                        {% with solver=team.users[solve.user_id] %}
                          <img
                            class="aspect-square rounded-full size-8"
                            alt="solved by {{ solver.name }}"
                            src="{{ solver.avatar_url }}"
                          />
                        {% endwith %}
                      {% endif %}
                    {% endwith %}
                    <a class="-rotate-45" href="">{{ icons.ticket() }}</a>
                    {% with author=authors[challenge.author_id] %}
                      <img
                        class="aspect-square rounded-full size-8"
                        alt="authored by {{ author.name }}"
                        src="{{ author.avatar_url }}"
                      />
                    {% endwith %}
                    <a href="">{{ icons.submit() }}</a>
                  </div>
                </div>
                <div>{{ challenge.description }}</div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
{% endblock %}
