{% import "icons.html" as icons %}
{% extends "layout.html" %}

{% block title %}{{ super() }} - {{ t("challenges") }}{% endblock %}

{% block content %}
  <div
    class="mt-4 px-4 gap-4 grid grid-cols-1 md:grid-cols-[repeat(auto-fit,minmax(600px,1fr))]"
    id="challenges"
  ></div>

  <script type="module">
    import { renderCounter } from "/static/app.js";
    renderCounter(document.getElementById("challenges"));
  </script>

  <script>
    (function () {
      document.body.addEventListener("htmx:afterSettle", function (detail) {
        const dialog = detail.target.querySelector(
          "dialog[data-onload-showmodal]",
        );
        if (dialog) {
          dialog.addEventListener("close", () => {
            dialog.remove();
          });
          dialog.addEventListener("mouseup", (event) => {
            const rect = event.target.getBoundingClientRect();

            if (
              event.clientX - rect.left <= 0 ||
              rect.right - event.clientX <= 0 ||
              event.clientY - rect.top <= 0 ||
              rect.bottom - event.clientY <= 0
            ) {
              dialog.close();
            }
          });
          dialog.showModal();
        }
      });

      document.body.addEventListener("closeModal", function () {
        document.querySelector("dialog[open]")?.close();
      });
    })();
  </script>
{% endblock %}
