{% import "icons.html" as icons %}
{% extends "layout.html" %}

{% block title %}{{ super() }} - {{ t("challenges") }}{% endblock %}

{% block content %}
  <div
    hx-get="/challenges"
    hx-trigger="manualRefresh from:body, every 120s"
    hx-select="#challenges-content"
    hx-swap="outerHTML"
    id="challenges-content"
    class="mt-4 px-4 gap-4 grid grid-cols-1 md:grid-cols-[repeat(auto-fit,minmax(600px,1fr))]"
  >
    {% for category in categories %}
      <div>
        <div
          class="flex justify-between rounded-md p-4 font-bold"
          style="background-color: {{ category.color }}"
        >
          <span>{{ category.name }}</span>
          <span>
            {% with challenges_in_category=challenges | selectattr("category_id", "==", category.id) %}
              {{ challenges_in_category | selectattr("id", "in", team.solves) | length }}
              / {{ challenges_in_category | length }}
            {%- endwith -%}
          </span>
        </div>
        <ul class="flex flex-col gap-4 px-2 pt-4">
          {% for challenge in challenges %}
            {% if category.id == challenge.category_id %}
              <li
                id="{{ challenge.name }}"
                class="border-l-4 bg-card p-4 ring-offset-4 ring-offset-background target:ring"
                style="border-color: {{ category.color }}; --tw-ring-color: {{ category.color }}"
              >
                <div class="mb-2 flex justify-between">
                  <div class="font-bold">
                    <span style="color: {{ category.color }}"
                      >{{ category.name }} /
                    </span>
                    <span>{{ challenge.name }}</span>
                  </div>
                  <div class="flex items-center gap-4">
                    <span
                      id="solves-points-{{ challenge.id }}"
                      class="cursor-pointer"
                      >{{ t("solves-points", solves=challenge.division_points[0].solves, points=challenge.division_points[0].points) }}</span
                    >
                    <script>
                      tippy("#solves-points-{{ challenge.id }}", {
                        content: `
                        <table>
                          {%- for division_points in challenge.division_points -%}
                          <tr>
                          <td class="pr-2 text-right">{{ divisions[division_points.division_id].name }}</td>
                          <td class="pr-2">{{ t("solves", solves=division_points.solves) }}</td>
                          <td>{{ t("points", points=division_points.points) }}</td>
                          </tr>
                        {%- endfor -%}
                        </table>
                        `,
                        allowHTML: true,
                        theme: "rhombus",
                        interactive: true,
                      });
                    </script>
                    {% if challenge.healthy %}
                      <div
                        id="healthy-{{ challenge.id }}"
                        class="size-3 rounded-full bg-green-500 cursor-pointer"
                      ></div>
                      <script>
                        tippy("#healthy-{{ challenge.id }}", {
                          content: `Challenge is <span class="text-green-500">up</span>`,
                          allowHTML: true,
                          theme: "rhombus",
                        });
                      </script>
                    {% else %}
                      <div
                        id="unhealthy-{{ challenge.id }}"
                        class="size-3 rounded-full bg-red-500 cursor-pointer"
                      ></div>
                      <script>
                        tippy("#unhealthy-{{ challenge.id }}", {
                          content: `Challenge is <span class="text-red-500">down</span>`,
                          allowHTML: true,
                          theme: "rhombus",
                        });
                      </script>
                    {% endif %}
                    {% with solve=team.solves[challenge.id] %}
                      {% if solve %}
                        {% with solver=team.users[solve.user_id] %}
                          <img
                            id="solve-{{ challenge.id }}"
                            class="aspect-square rounded-full size-8"
                            alt="solved by {{ solver.name }}"
                            src="{{ solver.avatar_url }}"
                          />
                          <script>
                            tippy("#solve-{{ challenge.id }}", {
                              content: `Solved by {{ solver.name }}`,
                              theme: "rhombus",
                            });
                          </script>
                        {% endwith %}
                      {% endif %}
                    {% endwith %}
                    {% with author=authors[challenge.author_id] %}
                      <img
                        id="author-{{ challenge.id }}"
                        class="aspect-square rounded-full size-8"
                        alt="authored by {{ author.name }}"
                        src="{{ author.avatar_url }}"
                      />
                      <script>
                        tippy("#author-{{ challenge.id }}", {
                          content: `Authored by {{ author.name }}`,
                          theme: "rhombus",
                        });
                      </script>
                    {% endwith %}
                    <a id="ticket-{{ challenge.id }}" class="-rotate-45">
                      {{ icons.ticket() }}
                    </a>
                    <script>
                      tippy("#ticket-{{ challenge.id }}", {
                        content: `Submit a new support ticket`,
                        theme: "rhombus",
                        trigger: "mouseenter",
                      });
                    </script>
                    <button
                      id="focus-{{ challenge.id }}"
                      hx-trigger="click"
                      hx-get="/challenges/{{ challenge.id }}"
                      hx-select="dialog"
                      hx-target="body"
                      hx-swap="beforeend"
                    >
                      {{ icons.submit() }}
                    </button>
                    <script>
                      tippy("#focus-{{ challenge.id }}", {
                        content: `View full challenge`,
                        theme: "rhombus",
                        trigger: "mouseenter",
                      });
                    </script>
                  </div>
                </div>
                <div>{{ challenge.description }}</div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
  <script>
    (function () {
      document.body.addEventListener("htmx:afterSettle", function (detail) {
        const dialog = detail.target.querySelector(
          "dialog[data-onload-showmodal]",
        );
        if (dialog) {
          dialog.addEventListener("close", () => {
            dialog.remove();
          });
          dialog.addEventListener("mouseup", (event) => {
            const rect = event.target.getBoundingClientRect();

            if (
              event.clientX - rect.left <= 0 ||
              rect.right - event.clientX <= 0 ||
              event.clientY - rect.top <= 0 ||
              rect.bottom - event.clientY <= 0
            ) {
              dialog.close();
            }
          });
          dialog.showModal();
        }
      });

      document.body.addEventListener("closeModal", function () {
        document.querySelector("dialog[open]")?.close();
      });
    })();
  </script>
{% endblock %}
