{% from "icons.html" import search %}

<button
  onclick="window.openCommandPalette()"
  class="focus-visible:ring-ring border-input hover:bg-accent hover:text-accent-foreground bg-background text-muted-foreground relative inline-flex h-8 w-full items-center justify-start rounded-lg border px-4 py-2 text-sm font-normal whitespace-nowrap shadow-none transition-colors focus-visible:ring-1 focus-visible:outline-none sm:w-64"
>
  <span class="inline-flex">{{ t("command-palette") }}</span>
  <kbd
    class="bg-muted pointer-events-none absolute top-[0.3rem] right-[0.3rem] flex h-5 items-center gap-1 rounded border px-1.5 font-mono text-[10px] font-medium opacity-100 select-none"
  >
    <span>⌘</span>
    <span>K</span>
  </kbd>
</button>
