{% from "navbar-item.html" import navbarItem %}
{% import "icons.html" as icons %}
{% extends "base.html" %}

{% block body %}
  <header class="border-b">
    <div
      class="flex items-center justify-between overflow-auto md:container md:mx-auto mx-4"
    >
      <nav hx-boost="true" class="flex">
        <a href="/" class="mr-6 flex items-center space-x-2">
          {{ icons.rhombus(attrs='class="size-9"') }}

          <span class="hidden font-bold sm:inline-block lg:text-base"
            >Rhombus</span
          >
        </a>
        {{ navbarItem(label=t("scoreboard"), href="/scoreboard", uri=uri) }}
        {% if user %}
          {{ navbarItem(label=t("challenges"), href="/challenges", uri=uri) }}
          {{ navbarItem(label=t("team"), href="/team", uri=uri) }}
          {{ navbarItem(label=t("account"), href="/account", uri=uri) }}
        {% else %}
          {{ navbarItem(label=t("sign-in"), href="/signin", uri=uri) }}
        {% endif %}
      </nav>
      {% include "command-palette.html" %}
    </div>
  </header>
  {% block content %}
  {% endblock %}
{% endblock %}
