{% import "navbar-item.html" as navbarItem %}
{% import "icons.html" as icons %}
{% extends "base.html" %}

{% block body %}
  <header class="border-b">
    <div
      class="flex items-center justify-between overflow-auto md:container md:mx-auto"
    >
      <nav hx-boost="true" class="flex">
        {{ navbarItem::navbarItem(label="Home", href="/", uri=uri) }}
        {{ navbarItem::navbarItem(label="Sign In", href="/signin", uri=uri) }}
      </nav>
      {% include "command-palette.html" %}
    </div>
  </header>
  {% block content %}
  {% endblock %}
{% endblock %}
