{% extends "layout.html" %}
{% import "icons.html" as icons %}
{% import "card.html" as card %}

{% block content %}
  <div class="container mb-6">
    <div class="relative mt-4 w-full" style="height: 600px">
      <div class="absolute size-full" id="chart" hx-preserve="true"></div>
      <div
        id="empty-banner"
        style="display: none;"
        class="absolute z-10 size-full items-center justify-center"
      >
        <span class="text-2xl font-semibold">No historical data yet!</span>
      </div>
    </div>

    <div class="mt-6 flex flex-col gap-6 lg:flex-row">
      {% if divisions | length > 1 %}
        <div class="lg:max-w-96">
          {% call card.root() %}
            {% call card.header() %}
              {% call card.title() %}
                Division
              {% endcall %}
              {% call card.description() %}
                Select the division for the scoreboard
              {% endcall %}
            {% endcall %}
            {% call card.content() %}
              <div class="flex flex-wrap gap-2">
                {% for division_id, division in divisions | items %}
                  <a
                    hx-boost="true"
                    hx-select="#screen"
                    hx-target="#screen"
                    hx-swap="outerHTML"
                    href="/scoreboard/{{ division_id }}"
                    class="relative"
                  >
                    <div
                      class="border-input hover:bg-secondary flex items-center rounded-md border px-3 py-2 text-sm"
                    >
                      {{ division.name }}
                    </div>
                    {% if selected_division_id == division_id %}
                      <div
                        class="bg-primary absolute -right-1 -top-1 size-3 cursor-pointer rounded-full"
                      ></div>
                    {% endif %}
                  </a>
                {% endfor %}
              </div>
              {% if user.is_admin %}
                <div class="mt-4 flex">
                  <button
                    class="border-input bg-background hover:bg-accent hover:text-accent-foreground ring-offset-background focus-visible:ring-ring inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md border px-4 py-2 text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
                    onclick="copyDivisionCTFtimeScoreboardFeed()"
                    title="Copy CTFtime scoreboard feed to clipboard"
                  >
                    <span>CTFtime Scoreboard Feed</span> {{ icons.copy() }}
                  </button>
                  <script>
                    function copyDivisionCTFtimeScoreboardFeed() {
                      navigator.clipboard.writeText(`${location}/ctftime`).then(
                        () => {
                          rhombus.toast.success(
                            "Copied CTFtime scoreboard feed to clipboard",
                          );
                        },
                        () => {
                          rhombus.toast.error(
                            "Failed to copy CTFtime scoreboard feed to clipboard",
                          );
                        },
                      );
                    }
                  </script>
                </div>
              {% endif %}
            {% endcall %}
          {% endcall %}
        </div>
      {% endif %}
      <div class="grow">
        {% call card.root() %}
          {% call card.header() %}
            {% call card.title() %}
              Leaderboard
            {% endcall %}
            {% call card.description() %}
              Current standing of all teams in the division
            {% endcall %}
          {% endcall %}
          {% call card.content() %}
            {% if leaderboard.entries | length > 0 %}
              <div class="flex w-full">
                <table class="grow table-fixed">
                  {% for entry in leaderboard.entries %}
                    <tr class="even:bg-secondary *:p-2">
                      <td>{{ entry.rank }}</td>
                      <td class="w-2/3">
                        <a
                          hx-boost="true"
                          hx-select="#screen"
                          hx-target="#screen"
                          hx-swap="outerHTML"
                          href="/team/{{ entry.team_id }}"
                          >{{ entry.team_name }}</a
                        >
                      </td>
                      <td>{{ entry.score }} points</td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
              {% if leaderboard.num_pages > 1 %}
                <div class="flex justify-center">
                  <div>
                    {% for i in range(leaderboard.num_pages) %}
                      {% if i == 0 and page_num != 0 %}
                        <a
                          hx-boost="true"
                          hx-select="#screen"
                          hx-target="#screen"
                          hx-swap="outerHTML"
                          class="underline"
                          href="/scoreboard/{{ selected_division_id }}"
                          >1</a
                        >
                      {% elif i != page_num %}
                        <a
                          hx-boost="true"
                          hx-select="#screen"
                          hx-target="#screen"
                          hx-swap="outerHTML"
                          class="underline"
                          href="/scoreboard/{{ selected_division_id }}?page={{ i + 1 }}"
                          >{{ i + 1 }}</a
                        >
                      {% else %}
                        <span>{{ i + 1 }}</span>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            {% else %}
              <p>No teams in this division have solved a challenge yet!</p>
            {% endif %}
          {% endcall %}
        {% endcall %}
      </div>
    </div>
  </div>
  <div class="hidden" id="initial-scoreboard-json">
    {{- scoreboard | tojson -}}
  </div>
  <script src="/static/scoreboard.js"></script>
{% endblock %}
