{% extends "layout.html" %}

{% block content %}
  <div class="flex w-full grow flex-col items-center justify-center gap-y-6">
    {% if team_name %}
      <div>
        You are being invited to join
        <span class="font-bold">{{ team_name }}</span>
      </div>
    {% endif %}

    <div class="flex max-w-md flex-col gap-y-2 text-center">
      <h1 class="text-2xl font-semibold tracking-tight">Sign In</h1>
      <p class="text-muted-foreground text-sm">
        Authenticate below to create or join a team.
      </p>
    </div>
    <div class="grid gap-4 sm:w-96">
      {% for option in auth_options %}
        {% if option == "discord" %}
          {% if loop.index > 1 %}
            {{ bar("Or continue with Discord") }}
          {% endif %}
          <a
            href="/signin/discord"
            class="border-input bg-background hover:bg-accent hover:text-accent-foreground ring-offset-background focus-visible:ring-ring inline-flex h-10 items-center justify-center rounded-md border px-4 py-2 text-sm font-medium whitespace-nowrap transition-colors focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50"
            >{{ icons.discord(class="mr-2 size-4") }} Discord</a
          >
        {% elif option == "email" %}
          {% if loop.index > 1 %}
            {{ bar("Or continue with Email") }}
          {% endif %}
          <form
            class="flex flex-col gap-2"
            hx-post="/signin/email"
            hx-indicator="#loader"
            hx-swap="none"
          >
            <div class="relative flex grow items-center justify-end">
              <input
                type="email"
                required
                name="email"
                placeholder="name@example.com"
                class="bg-background w-full rounded-md border p-2 focus-visible:outline-none"
              />
              <div id="loader" class="pointer-events-none absolute mr-2">
                {{ icons.spinner(attrs='class="animate-spin"') }}
              </div>
            </div>
            <button
              type="submit"
              class="border-input bg-background hover:bg-accent hover:text-accent-foreground ring-offset-background focus-visible:ring-ring inline-flex h-10 items-center justify-center rounded-md border px-4 py-2 text-sm font-medium whitespace-nowrap transition-colors focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50"
            >
              Send Sign In Email
            </button>
          </form>
        {% elif option == "ctftime" %}
          {% if loop.index > 1 %}
            {{ bar("Or continue with CTFtime") }}
          {% endif %}
          <a
            href="/signin/ctftime"
            class="border-input bg-background hover:bg-accent hover:text-accent-foreground ring-offset-background focus-visible:ring-ring inline-flex h-10 items-center justify-center rounded-md border px-4 py-2 text-sm font-medium whitespace-nowrap transition-colors focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50"
            >{{ icons.ctftime(class="h-6 stroke-none") }}</a
          >
        {% elif option == "credentials" %}
          {% if loop.index > 1 %}
            {{ bar("Or continue with credentials") }}
          {% endif %}
          <form
            class="flex flex-col gap-2"
            hx-post="/signin/credentials"
            hx-swap="none"
          >
            <input
              type="text"
              required
              name="username"
              placeholder="username"
              class="bg-background w-full rounded-md border p-2 focus-visible:outline-none"
            />
            <input
              type="password"
              required
              name="password"
              placeholder="password"
              class="bg-background w-full rounded-md border p-2 focus-visible:outline-none"
            />
            <button
              type="submit"
              class="border-input bg-background hover:bg-accent hover:text-accent-foreground ring-offset-background focus-visible:ring-ring inline-flex h-10 items-center justify-center rounded-md border px-4 py-2 text-sm font-medium whitespace-nowrap transition-colors focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50"
            >
              Sign In
            </button>
          </form>
        {% endif %}
      {% endfor %}
    </div>
    <p class="text-muted-foreground px-8 text-center text-sm">
      By continuing, you agree to our
      <a href="/terms" target="_blank" class="font-medium underline">Terms</a>.
    </p>
  </div>
{% endblock %}

{% macro bar(text) %}
  <div class="relative">
    <div class="absolute inset-0 flex items-center">
      <span class="w-full border-t"></span>
    </div>
    <div class="relative flex justify-center text-xs uppercase">
      <span class="bg-background text-muted-foreground px-2"> {{ text }} </span>
    </div>
  </div>
{% endmacro %}
