{% import "icons.html" as icons %}

<dialog
  data-onload-showmodal
  class="backdrop:bg-background/50 bg-background text-foreground w-full max-w-prose rounded-lg border-4 p-6 shadow-lg"
  style="border-color: {{ category.color }}"
>
  <div class="mb-2 flex justify-between">
    <div class="font-bold">
      <span style="color: {{ category.color }}">{{ category.name }} / </span>
      <span>{{ challenge.name }}</span>
    </div>
    <div class="flex items-center gap-4">
      <rhombus-tooltip class="cursor-pointer">
        <div slot="content">
          <table>
            {%- for (division_id, solves) in challenge.division_solves | items -%}
              <tr>
                <td class="pr-2 text-right">
                  {{ divisions[division_id].name }}
                </td>
                <td class="pr-2">{{ t("solves", solves=solves) }}</td>
              </tr>
            {%- endfor -%}
          </table>
        </div>

        <span
          >{{ t("solves-points", solves=challenge.division_solves | items | list | map("last") | sum, points=challenge.points) }}</span
        >
      </rhombus-tooltip>
    </div>
  </div>
  <div class="prose dark:prose-invert mb-4">
    {{ challenge.description | safe }}
  </div>
  {% with solve=team.solves[challenge.id] %}
    {% if not solve %}
      <form
        class="flex gap-2"
        hx-post="/challenges/{{ challenge.id }}"
        hx-target="next"
      >
        <input
          type="text"
          name="flag"
          placeholder="Enter flag..."
          autocomplete="off"
          class="bg-background grow rounded-lg border p-2 focus-visible:outline-none"
        />
        <button class="rounded-lg border p-2" type="submit">Submit Flag</button>
      </form>
      <div></div>
    {% else %}
      {% if not user_writeups[challenge.id] %}
        <form
          class="flex gap-2"
          hx-post="/challenges/{{ challenge.id }}/writeup"
          hx-target="next"
          hx-indicator="#loader"
        >
          <div class="relative flex grow items-center justify-end">
            <input
              type="url"
              name="url"
              placeholder="Enter writeup link..."
              autocomplete="off"
              class="bg-background w-full rounded-lg border p-2 focus-visible:outline-none"
            />
            <div id="loader" class="pointer-events-none absolute mr-2">
              {{ icons.spinner(attrs='class="animate-spin"') }}
            </div>
          </div>
          <button class="rounded-lg border p-2" type="submit">
            Submit Writeup
          </button>
        </form>
        <div></div>
        <div class="mb-2"></div>
      {% else %}
        <button
          class="bg-destructive mb-2 rounded-lg p-2"
          hx-delete="/challenges/{{ challenge.id }}/writeup"
        >
          Rescind writeup
        </button>
      {% endif %}
      {% if team.writeups[challenge.id] %}
        <div class="mb-2">
          <div>Team's writeups:</div>
          <ul>
            {% for writeup in team.writeups[challenge.id] %}
              <li class="flex justify-between">
                <a
                  class="text-blue-300 underline"
                  target="_blank"
                  href="{{ writeup.url }}"
                  >{{ writeup.url }}</a
                >
                <span>by {{ team.users[writeup.user_id].name }}</span>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endif %}
  {% endwith %}
  {% if challenge.attachments | length > 0 %}
    <div class="mt-4 flex gap-2">
      {% for attachment in challenge.attachments %}
        <a
          class="flex max-w-fit rounded-lg py-1 pl-1 pr-2"
          style="background-color: {{ category.color }}77"
          href="{{ attachment.url }}"
        >
          <div class="scale-75">{{ icons.attachment() }}</div>
          {{ attachment.name }}</a
        >
      {% endfor %}
    </div>
  {% endif %}
  {% if global_solves.list | length > 0 %}
    <div class="mt-4">
      <span class="font-bold">Solves</span>
      {% include "challenges/challenge-solves.html" %}
    </div>
  {% endif %}
</dialog>
