{% import "icons.html" as icons %}

<dialog
  data-onload-showmodal
  class="backdrop:bg-background/50 bg-background max-w-prose w-full rounded-lg text-foreground border-4 p-6 shadow-lg"
  style="border-color: {{ category.color }}"
>
  <div class="mb-2 flex justify-between">
    <div class="font-bold">
      <span style="color: {{ category.color }}">{{ category.name }} / </span>
      <span>{{ challenge.name }}</span>
    </div>
  </div>
  <div class="mb-4 font-bold">
    Facing an issue with the challenge? Submit a ticket to talk to an organizer.
  </div>
  <div class="mb-4 prose dark:prose-invert">
    {{ challenge.description | safe }}
  </div>
  <div class="h-60 mb-2" id="editor"></div>
  <button
    class="p-2 rounded-lg"
    style="background-color: {{ category.color }}aa"
    hx-post="/challenges/{{ challenge.id }}/ticket"
    hx-vals="js:{content: window.editor.getValue()}"
    hx-target="next"
  >
    Submit Ticket
  </button>
  <div></div>
  <div id="ticket-template" class="hidden">{{ ticket_template }}</div>
  <script src="/static/ticket.js"></script>
</dialog>
